.header
    .logo
        .logo_pic
            img(src=require('../images/logo.svg'))
        .logo_title Катрин
    .navigation
        a.nav Главная
        a.nav Каталог
        a.nav Начинки
        a.nav Контакты
    .info
        .telephone 8 960 361-62-24
        .time Ежедневно с 10:00 до 20:00
    button.call Заказать звонок