- var file = require('/src/js/cards.json')

doctype html
html
  head
    meta(charset='utf-8')
    title Катрин. Торты на заказ. Ульяновск
  body
    .part1
      include ./header.pug
      .content
        .left_block
          .main_title Приготовим торт любой сложности по фото или эскизу
          .next_title А также капкейки с доставкой по Ульяновску
          button.main_call Заказать расчет цены
        .right_block
          img(src=require('../images/part1/main_pic.png'))
    .wave
      img(src=require('../images/part1/Wave.svg'))
    .part2
      .container_part2
        .title_part2 Выбери свой десерт!
        .menu_part2
          button.menu_item Торты
          button.menu_item Капкейки
          button.menu_item Конфеты
          button.menu_item Разное
        .carousel_block
          button.carousel.left
          //карусель торты
          .carousel_cake
            include ./card.pug
            +card('item',file.item)
            +card('item',file.item)
            +card('item',file.item)
          button.carousel.right
