@import './fonts.scss';
@import './mixins.scss';
@import './slick.scss';

$main_text_color: #9C0646;
$back_color: #FFECEF;
$main_two_color: #BF0A57;
body{
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
img {max-width:100%;height:auto;}
//Первый блок
.part1{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: $back_color;
}
.content{
    display: flex;
    margin-left: 23%;
}
.left_block{
    margin-top: 14%;
    width: 38%;
}
.right_block{
    width: 64%;
    height: 835px;
}
.main_title{
    font-family: "Iskra";
    color: $main_text_color;
    font-size: calcFluidFontSize(50, 64, 1400, 1920);
    line-height: 60px;
}
.next_title{
    margin-top: 4%;
    font-style: normal;
    font-weight: 500;
    font-size: calcFluidFontSize(16, 22, 1400, 1920);
}
button.main_call{
    margin-top: 5%;
    font-style: normal;
    font-size: calcFluidFontSize(12, 16, 1400, 1920);
    border:none;
    color: white;
    padding: 24px 41.5px 24px 41.5px;
    gap: 8px;
    background: $main_two_color;
    box-shadow: 5px 5px 10px #BEBEBE, -5px -5px 10px #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
}
button.main_call:hover{
    background-color: $main_text_color;
    transition: All 0.5s ease;
}
//Волна между блоками
.wave{
    margin-top: -1px;
    width: 100%;
    height: auto;
}
//2 часть
.part2{
    width: 100%;
}
.container_part2{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title_part2{
    font-family: "Iskra";
    color: $main_text_color;
    font-size: calcFluidFontSize(50, 64, 1400, 1920);
}
//навигация карусели
.menu_part2{
    margin-top: 2%;
    display: flex;
}
button.menu_item{
    padding: 6px 20px 6px 20px;
    font-style: normal;
    font-size: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
button.menu_item:hover{
    color: $main_text_color;
}
button.menu_item:hover:after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: $main_text_color;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
//блок карусели
.carousel_block{
    //width: 1274px;
    display: flex;
}
//кнопка карусели
button.carousel{
    margin-top:258px;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(156, 6, 70, 0.12), 0px 12px 24px rgba(156, 6, 70, 0.32);
    border-radius: 100px;
}
button.carousel:after{
    position: absolute;
    content: '';
    margin-left: 19px;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-top: auto;
    bottom: 0;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    border-left: 2px solid $main_text_color;
    border-bottom: 2px solid $main_text_color;
}
button.carousel:hover:after{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}
button.carousel:hover{
    background-color: $main_text_color;
    transition: All 0.5s ease;
}
//левая кнопка
button.carousel.left:after{
    transform: rotate(45deg);
}
//правая кнопка
button.carousel.right:after{
    transform: rotate(-135deg);
    margin-left: auto;
    margin-right: 19px;
}
.menu_cake, .menu_cupcake, .menu_candy, .menu_different{
    width: 1140px;
    display: flex;
}
button.see_more.next_menu{
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 235px;
    height: 64px;
}
//блок с начинками
.part3{
    height: 676px;
    width: 100%;
    background-color: $back_color;
    margin-top: -5px;
}
.cotainer_part3{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title_part3{
    font-family: "Iskra";
    color: $main_text_color;
    font-size: calcFluidFontSize(50, 64, 1400, 1920);
}
.carousel_toppings{
    display: flex;
}
.toppings{
    display: flex;
    width: 1140px;
    height: 574px;
}
#Wave3{
    margin-top: -30px;
}
//4 блок(форма)
.part4{
    width: 100%;
    height: 942px;
}
.container_part4{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title_part4{
    text-align: center;
    width: 676px;
    font-family: "Iskra";
    color: $main_text_color;
    font-size: calcFluidFontSize(50, 64, 1400, 1920);
}
.form{
    margin-top: 99px;
    width: 1109px;
    height: 624px;
    background: rgba(255, 255, 255, 0.32);
    box-shadow: 8px 8px 24px rgba(156, 6, 70, 0.32), -8px -8px 24px rgba(156, 6, 70, 0.32);
    border-radius: 18px;
}
.container_form{
    margin: 48px 63px 48px 63px;
    display: flex;
    flex-wrap: wrap;
}
.form_item{
    width: 266px;
    height: 119px;
}
.form_item_title{
    display: flex;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: $main_text_color;
    border-radius: 50%;
    font-family: "Iskra";
    color: white;
    font-size: 28px;
    text-align: center;
}
.form_item_text{
    margin-left: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: $main_text_color;
}
select{
    padding: 10px 36.5px 10px 36.5px;
    font-family: 'MontRegular';
    font-size: 16px;
    background-color:  rgba(255, 236, 238, 0.3);
    width: 263px;
    height: 44px;
    background: rgba(255, 236, 238, 0.3);
    border: 1px solid rgba(156, 6, 70, 0.5);
    border-radius: 10px;
    color: rgba(156, 6, 70, 0.5);
    appearance: none;
}
select:focus{
    outline: none;
}
#placeholder{
    display: none;
}
.form_item:nth-child(2){
    margin-left: 92px;
    margin-right: 92px;
}
.drop_list{
    margin-top: 14px;
}
.form_item:nth-child(4){
    width: 444px;
    height: 216px;
    margin-top: 37px;
}
.comment{
    margin-top: 14px;
    width: 371px;
    height: 132px;
    resize: none;
    padding: 10px 36.5px 0px 36.5px;
    font-family: 'MontRegular';
    font-size: 16px;
    background-color:  rgba(255, 236, 238, 0.3);
    border: 1px solid rgba(156, 6, 70, 0.5);
    border-radius: 10px;
    color: rgba(156, 6, 70, 0.5);
}
textarea:focus{
    outline: none;
}
textarea::placeholder{
    font-family: 'MontRegular';
    font-size: 16px;
    color: rgba(156, 6, 70, 0.5); 
}
.form_item:nth-child(5){
    width: 367px;
    height: 186px;
    margin-top: 37px;
    margin-left: 114px;
}
.form_name , .form_telephone{
    width: 366px;
    height: 24px;
    padding: 0px 50px 0px 50px;
    font-family: 'MontRegular';
    font-size: 16px;
    background-color:  rgba(255, 236, 238, 0.3);
    width: 263px;
    height: 44px;
    background: rgba(255, 236, 238, 0.3);
    border: 1px solid rgba(156, 6, 70, 0.5);
    border-radius: 10px;
    color: rgba(156, 6, 70, 0.5);
}
.form_name{
    margin-top: 14px;
}
.form_telephone{
    margin-top: 21px;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-family: 'MontRegular';
    font-size: 16px;
    color: rgba(156, 6, 70, 0.5); 
}
.form_item:nth-child(6){
    margin-top: 37px;
}
.input-file{
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}
.file_button{
    margin-top: 24px;
}
.file_btn_label{
    padding: 10px 50px 10px 50px;
    font-family: 'MontRegular';
    font-size: 16px;
    background-color:  rgba(255, 236, 238, 0.3);
    width: 263px;
    height: 44px;
    background: rgba(255, 236, 238, 0.3);
    border: 1px solid rgba(156, 6, 70, 0.5);
    border-radius: 10px;
    color: rgba(156, 6, 70, 0.5);
}
span.file_btn_text{
    display: inline-block;
    width: 160px;
}
button.send_form{
    margin-left: 453px;
    margin-top: 90px;
    width: 233px;
    height: 64px;
    font-weight:bold;
    font-size: 15px;
    color: $main_text_color;
    background-color:  rgba(255, 236, 238, 0.3);
    border: 1px solid $main_text_color;
    border-radius: 100px;
}
button.send_form:hover{
    background-color: $main_text_color;
    color: white;
    transition: All 0.5s ease;
}